# Application
NODE_ENV=development
PORT=3000

# Database
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=rate_limit_db
DB_PORT=5432

DATABASE_URL=postgresql://postgres:postgres@localhost:5432/rate_limit_db?connection_limit=20&pool_timeout=10&connect_timeout=5
